
.backColour{
    height:100%;
    width:100%;
    position: absolute;
    z-index: -3;
    background-color: #005E7C;
}

.pageRender {
    background-color: #E5EBEA;
}

.pageRender h1 {
    background-color: #5D576B;
    color: white;
}


.linkNav{
    background-color: #2F2235;
}

.linkNav h2 {
    color: white;
}

.projlab {
    position: absolute;
    display: flex;
    z-index: 3;
    background-color: #5D576B;
    font-size: 1vw;
}

.projlab p{
    color: white;
}

.projdiv{
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
}

.projimg{

    max-width: 600px;
    max-height: 600px;
    width: 250px;
    height: 250px;
}

.mesBox{
    margin-top: 1.5rem;
    height: 300px;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.inBox {
    margin-top: 1.5rem;
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.subButton {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    margin-bottom: 1.5rem;  
}

.subButton button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
}

.pageText{
    margin: auto;
    max-width: 65%;
}

.pageText ul{
    list-style: none;
}

#profimgcontainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 99%;
}

#profimg{
    max-width: 300px;
    max-height: 300px;
}

#root {
    height:100%;
    width:100%;
}

#main {
    height: 75%;
}